* {
    margin: 0%;
    padding: 0%;
}

.contianer {
    padding: 10px;


    background-color: aquamarine;

    .cards {
        display: flex;

        gap: 10px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: black;
            width: fit-content;
            color: white;

            img {
                width: 200px;
                height: 200px;
            }

        }
    }
}






@media only screen and (min-width:992px) {
    .contianer {

        background-color: antiquewhite;

        .cards {
            display: flex;

            gap: 10px;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                width: fit-content;
                color: white;

                img {
                    width: 200px;
                    height: 200px;
                }

            }
        }
    }

}


@media only screen and (min-width:768px) {
    .contianer {

        background-color: blue;

        .cards {
            display: flex;
            flex-direction: column;

            gap: 10px;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                width: fit-content;
                color: white;

                img {
                    width: 200px;
                    height: 200px;
                }

            }
        }
    }

}



@media only screen and (min-width:600px) {
    .contianer {

        background-color: red;
        .cards {
        display: flex;
        flex-direction: column;

        gap: 10px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: black;
            width: fit-content;
            color: white;

            img {
                width: 200px;
                height: 200px;
            }

        }
    }
    }

    

}