*{
    padding:0px;
    margin:0px;
    
}

.container{
    margin-top:20px;
    color: white;
    background-color: black;
    padding:20px;
    text-align: justify;
    border-radius: 10px;
    #heading{
            text-align: center;
    }

    .content{
        background-color: goldenrod;
        margin-top: 10px;
        padding:20px;
        display:flex;
        flex-direction: column;
        gap:10px;
        border-radius: 10px;
        margin:20px;

        .social-media{
            margin-top: 10px;
            display:flex;
            gap:15px;

            a{
                color: white;
                font-size: 30px;
                text-decoration: none;
            }
        }

        button{
            width: 120px;
            height: 40px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            background-color: red;
            color: white;
            font-size: 16px;

        
    }


}