* {
    margin: 0%;
    padding: 0%;

}

.container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;


    .logo {
        font-size: 25px;
    }

    .navbar {
        display: flex;
        gap: 20px;

        .home {
            font-size: 25px;
            text-decoration: none;
            text-transform: capitalize;
            color: white;

        }

    }
}

.about-container {
    background-color: black;
    color: white;

    .content {
        display: flex;
        gap: 30px;
        height: 300px;
        justify-content: center;
        align-items: center;

        .image {
            img {
                height: 200px;
                width: 150px;
            }
        }

        .text {
            font-size: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-style: italic;
            text-transform: capitalize;
            margin-bottom: 15px;


        }

    }

    .project {
        .ptext {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 30px;
                color: red;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-transform: capitalize;
                text-align: center;

            }

            h2 {
                font-size: 25px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-transform: capitalize;
                text-align: center;
            }

            p {
                font-size: 15px;
                text-align: center;
                font-family: cursive;
                text-align: justify;
                width: 50%;

            }
        }

        .about {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            h2{
                font-size: 30px;
                color: red;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-transform: capitalize;
                text-align: center;

            }
            p{
            font-size: 15px;
            font-family: cursive;
            width : 75%;
            text-align: justify;

            }
            

        }
    }



}