* {
    margin: 0%;
    padding: 0%;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;


    .logo {
        font-size: 25px;
    }

    .navbar {
        display: flex;
        gap: 20px;

        .home {
            font-size: 25px;
            text-decoration: none;
            text-transform: capitalize;
            color: white;

        }

    }

}

.content {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    .text {
        h1 {
            text-transform: capitalize;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: yellow;
            font-size: 40px;
           
        }

        h2 {
            text-transform: capitalize;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: skyblue;
            font-size: 30px;
        }
    }
    .form{
        input{
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            width: 300px;
        }
        
        textarea{
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            width: 300px;
        }
       
    }

}