* {
    margin: 0%;
    padding: 0%;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    

    .logo {
        font-size: 25px;
    }

    .navbar {
        display: flex;
        gap: 20px;

        .home {
            font-size: 25px;
            text-decoration: none;
            text-transform: capitalize;
            color: white;

        }

    }
}

.content {
      display: flex;
      height : 90vh;
      align-items: center;
      justify-content: center;
      gap : 20px;
      background-color: black;
      color : white;
      
       
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width :35%;
        gap :10px;
        h3 {
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-transform: capitalize;

        }

        h1 {
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-transform: capitalize;
        }

        h2 {
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-transform: capitalize;
        }

        p {
            font-family: cursive;
            text-align: justify;
        }

        .icons {
            font-size: 20px;
        }

        .btns {
            .hire {
                background-color: red;
                color: white;
                border: none;
                border-radius: 10px;
                padding: 5px;
                font-size: 15px;
                text-transform: capitalize;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            }

            .contact {
                background-color: green;
                color: white;
                border: none;
                border-radius: 10px;
                padding: 5px;
                font-size: 15px;
                text-transform: capitalize;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            }

        }

    }
    .image{
        img{
            height: 350px ;
        width : 350px;

        }

        
    }
}