* {
    padding: 0%;
    margin: 0%;
}

.container {
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 75px;
        border-bottom: 1px solid black;

        .content {
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: bold;
            }

            .icons {
                display: flex;
                gap: 30px;
                color: grey;

            }
        }
    }

    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        gap:20px;

        h1 {
            font-size: 36px;
            font-weight: bold;
        }

    }

    .subnav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        gap:20px;
        a{
            text-decoration: none;
        }
        

    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;

        .card{
            display: flex;
            gap:10px;
            flex-direction: column;
            width:400px;

            img{
                width:400px;
                text-align:justify;
                margin-bottom: 5px;
            }
            
            
            .p2{
                margin-top: 5px;
                border-top: 1px solid red;
                font-size:16px;
                color:grey;
            }
        }
    }

        .footer{
        background-color: blue;
        justify-content: center;
        text-align: center;
        color:black;
        padding: 10px;
        font-size:30px;
        #head{
            border-bottom: 2px solid white;
            margin-bottom: 10px;
        }
        .icons{
            padding: 10px;
        }

    }

}