*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card1{
        background-color: rgb(234, 136, 17);
        width: 1200px;
        height: 600px;
        position: absolute;    
    }

    .card2{
        background-color: white;
        width: 1200px;
        height: 600px;
        position: absolute; 
        
        right: 500px;
        bottom: 150px;
        display:flex;
        padding: 20px;
        align-items: center;
        .inner-card1{
            display: flex;
            width: 400px;
            align-items: end;
            height: 600px;
            padding: 20px;
            
        }

        .inner-card2{
            width: 400px;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
            width: 200px;
            height: 500px;
        }
        }

        .inner-card3{
            width: 400px;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            img{
            width: 200px;
            height: 500px;
        }
        }
        
    }

    .card3{
        background-color: white;
        width: 1000px;
        height: 600px;
        position: absolute; 
        
        left: 200px;
        top: 100px;
        display:flex;
        padding: 20px;
        align-items: center;
      img{
            width: 200px;
            height: 500px;
        }
    }
    
}